<div [ngSwitch]="plate.platesType">
    <div *ngSwitchCase="types.DEFAULT" class="d-flex flex-column p-2 bg-secondary-subtle border border-black">
        <div class="d-flex justify-content-between">
            <div style="height: 50px; width: 50px;">
                <qrcode [qrdata]="plate.QrCode" [errorCorrectionLevel]="'L'" [width]="50"></qrcode>
            </div>
            <div class="d-flex flex-column">
                <span class="title-responsive">{{ plate.CodCliente }}</span>
                <span class="title-responsive">{{ plate.Serial }}</span>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="types.DYNAPACFOPS" class="d-flex flex-column p-2 bg-secondary-subtle border border-black">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column">
                <div class="d-flex gap-1 align-items-center justify-content-between">
                    <span class="font-responsive">FOPS Part No.</span>
                    <span class="border border-black p-1 border-1 rounded font-responsive">4812129860</span>
                </div>
                <div class="d-flex gap-1 align-items-center justify-content-between">
                    <span class="font-responsive">S/N</span>
                    <span class="border border-black p-1 border-1 rounded font-responsive">{{ plate.Serial }}</span>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <span class="font-responsive">Type</span>
                    <span class="border border-black p-1 border-1 rounded font-responsive">CA25-CA30-CA35</span>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="types._3CXJCBPlate"
        class="d-flex flex-column p-2 bg-white border border-black position-relative w-100">
        <div class="d-flex flex-column">
            <div class="d-flex gap-1 align-items-center justify-content-between">
                <span class="font-responsive">ANO</span>
                <!-- ANO não está disponível no novo DTO -->
                <span class="border border-black p-1 border-1 rounded font-responsive">N/A</span>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <span class="font-responsive">SERIAL</span>
                <span class="border border-black p-1 border-1 rounded font-responsive">{{plate.Serial}}</span>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="types._426JCBPLATE"
        class="d-flex flex-column p-2 bg-primary border border-black position-relative w-100">
        <div class="d-flex flex-column">
            <div class="d-flex gap-1 align-items-center justify-content-between">
                <span class="font-responsive">ANO</span>
                <!-- ANO não está disponível no novo DTO -->
                <span class="border border-black p-1 border-1 rounded font-responsive">N/A</span>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <span class="font-responsive">SERIAL</span>
                <span class="border border-black p-1 border-1 rounded font-responsive">{{plate.Serial}}</span>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="types.DYNAPACROPS"
        class="d-flex flex-column p-2 bg-warning border border-black position-relative">
        <div class="d-flex justify-content-between">
            <div class="d-flex flex-column">
                <div class="d-flex gap-1 align-items-center justify-content-between">
                    <span class="font-responsive">ROPS Part No.</span>
                    <span class="border border-black p-1 border-1 rounded font-responsive">4812129860</span>
                </div>
                <div class="d-flex gap-1 align-items-center justify-content-between">
                    <span class="font-responsive">S/N</span>
                    <span class="border border-black p-1 border-1 rounded font-responsive">{{ plate.Serial }}</span>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <span class="font-responsive">Type</span>
                    <span class="border border-black p-1 border-1 rounded font-responsive">CA25-CA30-CA35</span>
                </div>
            </div>
        </div>
    </div>

    <div *ngSwitchCase="types.D1000" class="d-flex flex-column p-2 bg-secondary-subtle border border-black">
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Ordem Comp.</span>
            <!-- Ordem não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Cod. do Item</span>
            <!-- CodItem não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Peso</span>
            <!-- Peso não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Data</span>
            <!-- Data não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Nº de série</span>
            <span class="font-responsive">{{ plate.Serial }}</span>
        </div>
    </div>
    <div *ngSwitchCase="types.D600" class="d-flex flex-column p-2 bg-secondary-subtle border border-black">
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Ordem Comp.</span>
            <!-- Ordem não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Cod. do Item</span>
            <!-- CodItem não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Peso</span>
            <!-- Peso não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Data</span>
            <!-- Data não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Nº de série</span>
            <span class="font-responsive">{{ plate.Serial }}</span>
        </div>
    </div>
    <div *ngSwitchCase="types.D800" class="d-flex flex-column p-2 bg-secondary-subtle border border-black">
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Ordem Comp.</span>
            <!-- Ordem não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Cod. do Item</span>
            <!-- CodItem não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Peso</span>
            <!-- Peso não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Data</span>
            <!-- Data não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Nº de série</span>
            <span class="font-responsive">{{ plate.Serial }}</span>
        </div>
    </div>
    <div *ngSwitchCase="types.D1250" class="d-flex flex-column p-2 bg-secondary-subtle border border-black">
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Ordem Comp.</span>
            <!-- Ordem não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Cod. do Item</span>
            <!-- CodItem não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Peso</span>
            <!-- Peso não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Data</span>
            <!-- Data não está disponível no novo DTO -->
            <span class="font-responsive">N/A</span>
        </div>
        <div class="d-flex justify-content-between">
            <span class="font-responsive">Nº de série</span>
            <span class="font-responsive">{{ plate.Serial }}</span>
        </div>
    </div>

    <div *ngSwitchDefault>
        <span><i class="pi pi-times"></i> Erro: não foi achado visual para essa placa</span>
    </div>
</div>