@switch (plate.platesType){
@case (types.DEFAULT) {
<div class="d-flex flex-column p-2 bg-secondary-subtle border border-black">
    <!-- <div [ngClass]="!plate.Done? '': 'gray-mask'"></div> -->
    <div class="d-flex justify-content-between  ">
        <div class="d-flex flex-column">
            <span class="title-responsive">{{plate.CodCliente}}</span>
            <span class="title-responsive">{{plate.Serial}}</span>
        </div>
        <qrcode [qrdata]="plate.QrCode" [width]="50" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
</div>
}
@case (types.DYNAPACFOPS) {
<div class="d-flex flex-column p-2 bg-secondary-subtle border border-black">
    <!-- <div [ngClass]="!plate.Done? '': 'gray-mask'"></div> -->
    <div class="d-flex justify-content-between  ">
        <div class="d-flex flex-column">
            <div class="d-flex gap-1 align-items-center justify-content-between">
                <span class="font-responsive">
                    FOPS Part No.
                </span>
                <span class="border border-black p-1 border-1 rounded rounded font-responsive">
                    4812129860
                </span>
            </div>
            <div class="d-flex gap-1 align-items-center justify-content-between">
                <span class="font-responsive">
                    S/N
                </span>
                <span class="border border-black p-1 border-1 rounded rounded font-responsive">
                    {{plate.Serial}}
                </span>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <span class="font-responsive">
                    Type
                </span>
                <span class="border border-black p-1 border-1 rounded rounded font-responsive">
                    CA25-CA30-CA35
                </span>
            </div>
            <span class="title-responsive"></span>
        </div>
    </div>
</div>
}
@case (types.D1000 || types.D600  || types.D800  || types.D1250  ) {
<div class="d-flex flex-column p-2 bg-secondary-subtle border border-black">
    <!-- <div [ngClass]="!plate.Done? '': 'gray-mask'"></div> -->
    <div class="d-flex justify-content-between  ">
        <span class="font-responsive">Ordem Comp.</span>
        <span class="font-responsive">{{plate.Ordem}}</span>
    </div>
    <div class="d-flex justify-content-between  ">
        <span class="font-responsive">Cod. do Item</span>
        <span class="font-responsive">{{plate.CodItem}}</span>
    </div>
    <div class="d-flex justify-content-between  ">
        <span class="font-responsive">Peso</span>
        <span class="font-responsive">{{plate.Peso}}</span>
    </div>
    <div class="d-flex justify-content-between  ">
        <span class="font-responsive">Data</span>
        <span class="font-responsive">{{plate.Data}}</span>
    </div>
    <div class="d-flex justify-content-between  ">
        <span class="font-responsive">Nº de série</span>
        <span class="font-responsive">{{plate.Serial}}</span>
    </div>
</div>
}
@case (types.DYNAPACROPS) {
<div class="d-flex flex-column p-2 bg-warning border border-black position-relative">
    <!-- <div [ngClass]="!plate.Done? '': 'gray-mask'"></div> -->
    <div class="d-flex justify-content-between  ">
        <div class="d-flex flex-column">
            <div class="d-flex gap-1 align-items-center justify-content-between">
                <span class="font-responsive">
                    ROPS Part No.
                </span>
                <span class="border border-black p-1 border-1 rounded rounded font-responsive">
                    4812129860
                </span>
            </div>
            <div class="d-flex gap-1 align-items-center justify-content-between">
                <span class="font-responsive">
                    S/N
                </span>
                <span class="border border-black p-1 border-1 rounded rounded font-responsive">
                    {{plate.Serial}}
                </span>
            </div>
            <div class="d-flex align-items-center justify-content-between">
                <span class="font-responsive">
                    Type
                </span>
                <span class="border border-black p-1 border-1 rounded rounded font-responsive">
                    CA25-CA30-CA35
                </span>
            </div>
            <span class="title-responsive"></span>
        </div>
    </div>
</div>
}
@default {
<span><i class="pi pi-times"></i>erro: nao foi achado visual para essa placa</span>
}
}