<span class="text-primary">Roteiro de informações</span>
<div class="d-flex border">
    <script-action-button type="DOWN"></script-action-button>
    <script-action-button type="UP"></script-action-button>
    <script-action-button type="RESTART"></script-action-button>
</div>
<div class="d-flex flex-column text-secondary" style="max-height: 90vh; overflow-y: auto;">
    <ng-container *ngFor="let data of data$ | async; let i = index">
        <ng-container *ngFor="let item of data.flat(); let j = index">
            <span [ngClass]="{'text-danger': item.current}"><strong>{{(i * data.flat().length) + j + 1}}.</strong>
                {{item.data}}</span>
        </ng-container>
    </ng-container>
</div>