:host ::ng-deep .p-panelmenu-panel {
    border-style: none;
    border-width: 0px;
    border: solid white 1px;
    border-radius: 3px;
    background-color: white;
    margin-top: 2%;
    border-radius: 5px;
}

:host ::ng-deep .p-panelmenu-submenu {
    background-color: lightgray;
}