<div class="p-2">
    @for (item of data; track $index) {
    <div class="rounded bg-white mb-2">
        <div class="d-flex gap-4 cursor-pointer p-2 rounded  align-items-center">
            @if (!item?.items) {
            <i [class]="item.icon+' text-primary'"></i>
            <div class="ml-2 d-flex flex-column">
                <span>ProductionId: {{ item.productionId }}</span>
                <span>Pedido: {{ item.label }}</span>
                <span>Codigo Ethos: {{item.label_cod_ethos}}</span>
                <span>Data entrega: {{ item.label_data_entrega | date :'dd/MM/yyyy':'UTC' }}</span>
                <span>Qtd peças faltantes: {{item.label_qtd_pecas}}</span>
                <span>Tipo: {{item.tipo}}</span>
            </div>
            }
            @else {
            <p-panelmenu [multiple]="true" styleClass="" [model]="data">
                <ng-template #item pTemplate="item" let-item>
                    @if (item.child) {
                        <div (click)="item.clickFn()" class="text-black p-2">
                            <span>codigo: {{item.label}}</span>
                        </div>
                    }
                    @else {
                    <div class="rounded border">
                        <div class="text-black d-flex gap-4 cursor-pointer p-2 rounded  align-items-center">
                            <i [class]="item.icon+' text-primary'"></i>
                            <div class="ml-2 d-flex flex-column">
                                <span>ProductionId: {{ item.productionId }}</span>
                                <span>Pedido: {{ item.label }}</span>
                                <span>Codigo Ethos: {{item.label_cod_ethos}}</span>
                                <span>Data entrega: {{ item.label_data_entrega | date :'dd/MM/yyyy':'UTC' }}</span>
                                <span>Qtd peças faltantes: {{item.label_qtd_pecas}}</span>
                                <span>Tipo: {{item.tipo}}</span>
                            </div>
                        </div>
                    </div>
                    }
                </ng-template>
            </p-panelmenu>
            }
        </div>
    </div>
    }
</div>