<div class="container-fluid" style="max-height: 100vh;">
    <div class="row h-100" >
        <div class="col-md-4 col-sm-12 col-lg-4 m-0 p-0 h-auto" style="min-height: 100vh; background-color: rgb(4, 63, 4);">
            <status-canva class="h-25"></status-canva>
            <plates-queue></plates-queue>
        </div>
        <div class="col-md-8 col-sm-12 col-lg-8 h-100" >
            <div class="d-flex flex-column h-100">
                <div>
                    <navbar [itens_mid]="navbar_itens_mid"></navbar>
                </div>
                <div class="border rounded h-100">
                  <app-laser-nest></app-laser-nest>  
                </div>
            </div>
        </div>
    </div>
    <app-pop-up-stream-player></app-pop-up-stream-player>
</div>
