<div class="d-flex flex-column p-2">
    <div class="p-2 d-flex justify-content-start">
            <p-overlaybadge [severity]="ws.online? 'info': 'danger'">
                <i class="pi pi-compass text-white p-1"></i>
            </p-overlaybadge>
    </div>
    @if (!ws.online) {
        <div class="disconnect-mask">
            <i class="pi pi-exclamation-triangle text-danger"></i>
            <h1 class="text-center text-danger">Serviço fora do ar</h1>
            <i class="pi pi-exclamation-triangle text-danger"></i>
        </div>
    }
</div>