<div class="nest-template p-2 h-100">
    @if (nests().length > 0) {

        @if (currentNestDone()) {
            <div class="mb-2">
                <button (click)="refreshNest(); currentNestDone.set(false)" class="btn btn-group btn-success text-center">
                    <i class="pi pi-check px-1"></i>
                    conferido
                </button>
            </div>
        }

        <div name="wrapper-content" class="wrapper-content row m-0 p-0 g-0">
            <div class="col-12 col-md-8 m-0 d-flex flex-column" style="min-height: 0;">
                <app-nest-header [nest]="nests()[0]" class="mb-2"></app-nest-header>
                <div class="flex-grow-1 overflow-hidden">
                    <app-nest-preview [nest]="nests()[0]"></app-nest-preview>
                </div>
            </div>
            <div class="col-12 col-md-4 m-0 p-0 ps-md-2 mt-2 mt-md-0 d-flex flex-column" style="min-height: 0;">
                <div class="border rounded bg-dark-subtle h-100 overflow-hidden d-flex flex-column">
                    <preview-delivery></preview-delivery>
                </div>
            </div>
        </div>
    }
    @else {
        <div class="flex-grow-1 d-flex justify-content-center align-items-center flex-column">
            <no-data message="sem planos no momento! Para gerar um plano clique no botão de play!"></no-data>
        </div>
    }
</div>