<div class="nest-header text-secondary px-4 py-2">
    <div class="d-flex flex-column">
        <div class="d-flex align-items-center gap-2">
            <i class="pi pi-align-left"></i>
            <h2 class="title-responsive">Nest Atual: {{nest.Name}}</h2>
        </div>
        <h4 class="title-responsive"> Tipo: <span class="text-primary">{{nest.ModelNest.type}}</span></h4>
    </div>
    <div class="d-flex flex-column">        
        <h4 class="title-responsive"> Gabarito: <span class="text-danger">{{nest.ModelNest.Gabarito}}</span></h4>
    </div>
</div>